.app
    max-width 1024px
    margin 0 auto
.logo-contaier
	min-width 250px	 
.search-form-container 
	width 70%

.d-flex
	display flex

.flex-column
	flex-direction column

.justify-content-start
	justify-content flex-start	

.justify-content-around
	justify-content space-around

.justify-content-between
	justify-content space-between		

.flex-wrap
	flex-wrap wrap

.align-items-center
	align-items center

.card
	max-width 300px
	min-width 250px
	margin 1rem
	display flex
	align-items center
	flex-direction column