doctype html
html(lang="es")
    head
        title Finder challenge
        meta(charset="utf-8")
        meta(viewport="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css?family=Proxima+Nova", rel="stylesheet", type="text/css")
        link(href="/styles/index.css", rel="stylesheet")
        link(href="/styles/awesomplete.css", rel="stylesheet")
    body
        .app
            header.container-fluid
                .logo-container
                    h1.logo Finder challenge!
                .search-form-container
                    include blocks/search-form
            #content.container-fluid
            footer.container-fluid
                a.link#prev <- Anterior
                a.link#next Siguiente ->  
        script(src="/vendor/awesomplete/awesomplete.js")
        script(src="/scripts/global.js")
        script(src="/scripts/search-form.js")
        script(src="/scripts/app.js")